// Decoration + Transition

$sec5: 0.5s;
$decoration-none: none;
$underline: underline;

// Responsive 

$mobile-xs: 320px;
$mobile: 480px;
$tablet-xs: 780px;
$tablet-m: 991px;
$tablet: 1024px;
$desktop: 1480px;

// Border + radius 

$radius: 2.35rem;
$sec-radius: 10%;

// Margin 

$top2: 20px;
$top3: 30px;
