.navbar-brand {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: $text;
}

.nav-link.active {
    font-weight: 600;
}

.nav-link,
.dropdown-item {
    font-size: 15px !important;
    font-weight: 400;
    transition: $sec5;
    font-family: $text;

    &:hover,
    &:active,
    &:focus {
        color: $blue !important;
        font-weight: 700;
        transition: $sec5;
        text-decoration: line-through;
        background-color: transparent;
    }
}

.nav-light {

    .navbar-brand,
    .toggler-icon,
    .nav-link,
    .dropdown-item {
        color: $light;
    }

    .nav-link.active {
        color: $blue;
        font-weight: 600;
    }
}

.nav-dark {

    .navbar-brand,
    .toggler-icon,
    .nav-link,
    .dropdown-item {
        color: $dark;
    }

    .nav-link.active {
        color: $blue;
        font-weight: 600;
    }
}

.navbar-absolute {
    z-index: 99;
    width: 92%;
    padding: 20px;
    margin-top: 40px;
    margin-left: 70px;
    border-radius: 15px;
    position: absolute;

    @media screen and (max-width: $mobile) {
        margin-left: 20px !important;
    }

    @media screen and (max-width: $tablet-m) {
        width: 90%;
        margin-left: 40px;
    }

    .navbar-collapse {
        @media screen and (max-width: $tablet-m) {
            top: 0;
            left: 0;
            z-index: 99;
            width: 280px;
            height: 100%;
            position: fixed;
            transition: $sec5;
            overflow-x: hidden;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: white;

            .navbar-nav {
                padding: 50px;

                .nav-link.active {
                    color: $blue;
                }

                .nav-link {
                    color: $dark;
                }
            }
        }
    }
}

.navbar-toggler {
    border: none !important;
}

.banner-header {
    img {
        height: 930px;
        position: relative;
        border-radius: 10%;

        @media screen and (max-width: $mobile) {
            height: 600px !important;
        }
    }

    .cnt-banner {
        top: 40%;
        width: 100%;
        position: absolute;

        @media screen and (max-width: $mobile) {
            top: 30% !important;
        }

        @media screen and (max-width: $tablet-m) {
            top: 25%;
        }
    }
}