$light: #E5E9EA;
$dark: #0A0E20;
$blue: #3b6a80;
$green: #63AF9E;

.dark {
    color: $dark !important;
}

.light {
    color: $light !important;
}

.blue {
    color: $blue;
}

.green {
    color: $green;
}

.bg-dark {
    background-color: $dark !important;
}

.bg-light {
    background-color: $light !important;
}

.bg-blue {
    background-color: $blue !important;
}

.bg-green {
    background-color: $green !important;
}