@import "../bases/colors.scss";
@import "../bases/typography.scss";
@import "../utils/mixins.scss";

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    scroll-behavior: smooth;
}

section {
    padding: 140px 0px;

    @media screen and (max-width: $mobile) {
        padding: 60px 20px;
    }
}

img {
    object-fit: cover;
}
